---
name: microbosh-openstack

env:
  bosh:
    password: <%= config['salted_password'] %>

logging:
  level: DEBUG

network:
  type: dynamic

resources:
  persistent_disk: 4096
  cloud_properties:
    instance_type: m1.small

cloud:
  plugin: openstack
  properties:
    openstack:
      auth_url: <%= config['cpi_creds']['openstack_auth_url'] %>
      username: <%= config['cpi_creds']['openstack_username'] %>
      api_key:  <%= config['cpi_creds']['openstack_api_key'] %>
      tenant:   <%= config['cpi_creds']['openstack_tenant'] %>
      default_security_groups: ["default"]
      default_key_name: <%= config['key']['name'] %>
      private_key: <%= config['key']['path'] %>
    registry:
      endpoint: http://admin:admin@localhost:25889
      user: admin
      password: admin
